/* TABS */

.containerPaciente{
	height: 100%;
	padding: 10px 0px;
}
.tabs{
	flex-flow: column;
	height: 100%;
}
.listaTabs{
	display: flex;
	flex-flow: row wrap;
	background-color: #338eb2;
}
.tab{
	display: flex;
    align-items: center;
    justify-content: center;
	text-transform: uppercase;
	flex: 1;
	text-align: center;
	color: #fff;
	padding: 20px 10px;
	transition: all 1s;
}
.listaTabs .tab label{
	cursor: pointer;
}
.listaTabs .tab:hover{
	background-color: #333333; 
	transition: all 1s;
}
.checkAtiva{
	display: none;
}
.checkAtiva:checked ~ .conteudo-paciente{
	animation: swap .7s;
}
.conteudo-paciente{
	display: none;
	flex: 1;
	height: 90%;
}
.tabs [type="radio"]:nth-of-type(1):checked ~ .listaTabs .tab:nth-of-type(1),
.tabs [type="radio"]:nth-of-type(2):checked ~ .listaTabs .tab:nth-of-type(2),
.tabs [type="radio"]:nth-of-type(3):checked ~ .listaTabs .tab:nth-of-type(3),
.tabs [type="radio"]:nth-of-type(4):checked ~ .listaTabs .tab:nth-of-type(4){
	background-color: #338eb2; 
}
.tabs [type="radio"]:nth-of-type(1):checked ~ .conteudo-paciente:nth-of-type(1),
.tabs [type="radio"]:nth-of-type(2):checked ~ .conteudo-paciente:nth-of-type(2),
.tabs [type="radio"]:nth-of-type(3):checked ~ .conteudo-paciente:nth-of-type(3),
.tabs [type="radio"]:nth-of-type(4):checked ~ .conteudo-paciente:nth-of-type(4) {
	display: flex;
	flex-flow: column;
    align-items: center;
    justify-content: center;
}

/* --------------- */

/* FORMULARIO */ 

form{
	padding: 10px;
	display: flex;
    justify-content: center;
}
form label{
    font-size: 13px;
    color: #333;
    z-index: -1;
}
input, option, select{
	text-align: center;
	border: none;
	font-family: 'Roboto', sans-serif;	
}
input:focus, select:focus{
	 outline: 0;
}
select + label, input[type="date"] + label, input[type="password"] + label{
	position: relative;
	text-align: left;
}
.inputs{
	display: flex;
    flex-flow: column-reverse;
    height: 52px;
    margin: 2px 0px;
}
select{
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	background-size: 2rem 2rem;
  	width: 100%;
}
.container-botoes{
	display: flex;
    justify-content: center;
}
.botoes{
	display: flex;
	justify-content: center;
	flex-basis: 50%;
    justify-content: space-around;
}
.botoes button{
	background-color: #333;
    border: 1px solid #fff;
    border-radius: 50px;
    width: 150px;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
}
.botoes button:hover{
	background-color: #338eb2;
	border: 1px solid #fff;
	color: #fff;
	transition: .5s;
}	
button{
	outline: 0;
	border: none;
	background: none;
	cursor: pointer;
}

/* FORMULARIO PACIENTE */ 

#Pacientes{
	display: flex;
	flex-flow: column;
	height: 100%;
}
.formPaciente{
	width: 1200px;
	justify-content: center;
	padding: 0px;
	flex-flow: column;
	flex-grow: 2;
}
.formPaciente .titulo{	
	flex-grow: 1;
	justify-content: center;
	align-self: center;
} 
.formPaciente .titulo .divisor4{
	background-color: #fff;
	width: 65px;
}
.formPaciente .coluna-formulario1, .formPaciente .coluna-formulario2{
	display: flex;
	flex-flow: column;
	flex: 1;
	padding: 0px 30px;
}
.formPaciente .inputsForm{
	flex-grow: 1;
	display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.formPaciente .inputsForm .containerInputs{
	display: flex;
}	
.formPaciente .icones{
	margin: 0px 0px 25px 0px;
}
.formPaciente h1{
	color: #333;
}
.inputsForm input, .inputsForm select{
	height: 30px;
	margin: 10px 0px;
	text-align: center;
	border-bottom: 2px solid #333;
	padding: 5px 0px;
	background-color: transparent;
}
.inputsForm input:focus{
	outline: none;
	box-shadow: none;
}
.inputsForm .inputs label{
	font-weight: bold;
	position: relative;
	top: 30px;
	transition: .5s;
}
.inputsForm .inputs select + label{
	top: 10px;
}
.inputsForm input:focus + label{
	font-weight: bold;
	transform: translateY(-5px);
    transition: .5s;
}	
.inputsForm input:not(:placeholder-shown) + label{
	font-weight: bold;
	color: #338eb2;
	transform: translateY(-5px);
    transition: .5s;
}
.aviso-input{
	background-color: #338eb2;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    position: absolute;
    margin-bottom: 70px;
    margin-left: -109px;
    padding: 20px 10px;
    color: #fff;
    animation: swap .7s;
}
.aviso-input h3{
	font-size: 12px;
}
.aviso-input i{
	font-size: 31px;
	margin-bottom: 20px;
}
.aviso-input::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #338eb2 transparent transparent transparent;
  left: 50%;
  transform: translateX(0%) translateY(520%);
}

/* BOTÃO INFOS */

#ativa-info{
	display: none;
}
#ativa-info:checked ~ .info{
	opacity: 1;
	transition: 1s;
}
#ativa-info:checked ~ .info:before{
	opacity: 1;
	transition: 1s;
}
.info{
	position: absolute;
	display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
   	top: 190px;
   	right: 20px;
    width: 200px;
    height: 72px;
    background: #ffeb3b78;
    font-size: 13px;
    padding: 13px;
    opacity: 0;
    line-height: 1.3rem;
    transition: 1s;
}
.info::before{
  content: '';
  position: relative;
  top: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 21px 21px 21px;
  border-color: transparent transparent #ffeb3b78 transparent;
  left: 20px;
  transform: translateX(-50%);
  opacity: 0;
  transition: 1s;
}
.container-explicacao{
	display: flex;
	width: 100%;
	flex-flow: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}
.explicacao{
	margin-right: 43px;
}
.explicacao label{
	cursor: pointer;
}
.explicacao label i{
	color: #338eb2;
	font-size: 30px;
	margin-bottom: 30px;
}

/* RESPONSIVIDADE */ 

@media only screen and (max-width: 1280px){
	.formPaciente{
		width: 100%;
		align-items: center;
	}
	.inputsForm{
		width: 90%;	
	}
}
@media only screen and (max-width: 800px){
	.formPaciente .inputsForm .containerInputs{
		flex-flow: column;
	}
}	